{% extends 'base.html.twig' %}

{% block author 'Gaëtan Rolé' %}

{% block description 'about.head.meta.description'|trans %}

{% block title 'about.head.meta.title'|trans %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body_id 'about' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ 'about.body.div.h1'|trans }}</h1>
        <p>{{ 'about.body.div.p'|trans }}</p>
    </div>
</div>
{% endblock %}
