{% extends 'base.html.twig' %}

{% block author 'OlivierM' %}

{% block description 'About Symflix.' %}

{% block title 'About' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body_id 'about' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>About us</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores blanditiis corporis delectus eligendi error ipsa, maiores molestias mollitia quasi repellat sequi ut voluptatum. Amet ducimus expedita harum in pariatur.
    </div>
</div>
{% endblock %}
