{% extends 'base.html.twig' %}

{% block author 'Gaëtan Rolé' %}

{% block description 'Symflix is a video website with cool movies and series.' %}

{% block title 'Home' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body_id 'about' %}

{% block body %}


    <section class="m-5">
        <div class="container">
            <div class="row">
                <p>Lorem ipsum ....</p>
            </div>
        </div>
    </section>
{% endblock %}
